* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  height: 100vh;
  width: 100vh;
}
.header {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
}
.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-panel {
  width: 100px;
  position: fixed;
  top: 50px;
  background-color: orange;
  height: 100%;
}
.footer {
  width: 100%;
  background-color: yellow;
  position: fixed;
  bottom: 0;
  left: 100px;
  height: 30px;
}
.right-panel {
  width: 150px;
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

.center {
  margin-left: 120px;
  margin-top: 70px;
}
